body {
    margin: 0;
  }
  .header {
    background-color: rgb(59, 9, 109);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
  }
  .logo {
    width: 70px;
  }
  .header-links a {
    color: aliceblue;
    padding: 0 20px;
    text-decoration: none;
    border-radius: 15px;
  }
  .header-links a:hover {
    background-color: rgb(198, 42, 187);
  }
  .header-links button {
    background-color: rgb(239, 87, 229);
    padding: 5px 15px;
    border-radius: 15px;
    color: white;
    border: none;
  }
  .header-links button:hover {
    background-color: rgb(219, 38, 198);
  } 
  .land{
      background-color: rgb(59, 9, 110);
      display: flex;
      justify-content:center;
      padding: 10px 50px;
      align-items: center;
      border-radius:0 0 50px 50px;
      
      
  }
 .mmm{
  color: aliceblue;
 }
 .search input{
  border-radius: 50px ;
  border: none;
  outline: non;
  height: 25px;
  padding-left: 10px;
  padding-right: 1-px;
 }
 .sss{
  position: absolute;
  left: 200px; background-color: rgb(239, 87, 229);
  padding: 5px 15px;
  border-radius: 15px;
  color: white;
  border: none;
 }
 .sss:hover{
  background-color: rgb(219, 38, 198);
 }
 .landing-page-image-container img {
  border-radius: 20px;

 }